.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gradient{
    width: 50%;
    height: 150px;
    background-color: var(--blue);
    filter: blur(70px);

    position: absolute;
    margin: auto;
    z-index: -1;
    top: -110px;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}
.links a{
    color: var(--grey);
    text-decoration: none;
    transition: all 0.5s;;
}
.active{
    color: var(--white) !important;
}
.nav-links:hover{
    color: var(--white);
}