.custom-audio-player{
    width: 100%;
    background-color: rgb(14,2,21);

    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1.5rem;
    padding: 5px 0rem;

    position: fixed;
    bottom: 0px;
    left: 0px;
}

.audio-display-image{
    width: 35px;
    height: 45px;
}

.audio-range{
    width: 100%;
    
}
input[type="range"]{
  filter: hue-rotate(40deg) !important;
}


.display-flex{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}